.folder-editor {
    max-height: 85vh;
}
.folder-editor-h1 {
    text-align: center;
}

.flashcard-set-button {
    width: 120px;
    height: 120px; 
    margin: 5px; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard-set-grid {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-height: 30vh;
    max-width: 600px;
}

.add-container {
    display: flex; 
    align-items: center; 
    width: 450px;
}
  
.remove-button {
    background-color: grey;
    width: 4vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 999;
}

.remove-button:hover{
    background-color: red;
}

.add-container input {
    width: 100%;
    margin-right: 5px; 
}

.add-container button {
    width: 10%;
}

.folder-buttons button:disabled {
    display: none;
    transform: none;
    background-color: gray;
}

.delete-folder-button:hover {
    background-color: red;
}


.delete-folder-button:disabled {
    display: none;
    transform: none;
    background-color: grey;
}


.labels {
    font-weight: bold;
}

.error-text {
    text-align: center;
}