.flashcard {
    border: 1px solid #ccc;
    width: 400px;
    height: 250px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    background-color: var(--background);
    transition: transform 0.3s;
    transform-style: preserve-3d;
    border: 5px solid var(--accent);
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.editor-wrapper {
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 5px solid var(--accent);
    width: 600px; 
    padding: 50px; 
    box-sizing: border-box;
}

.front, .back {
    position: absolute;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.buttons {
    display: block;
    margin: auto;
}

.p-bold {
    font-weight: bold;
}

.homepage-button {
    width: 75%;
}

.multiple-choice-set {
    max-height: 100wh;
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 5px solid var(--accent);
    width: 400px; 
    height: 500px;
    padding: 20px; 
    box-sizing: border-box;
}

.options {
    height: 300px;
}

.question {
    font-weight: bold;
}