.settings-wrapper {
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 5px solid var(--accent);
    width: 400px; 
    padding: 20px; 
    box-sizing: border-box;
}

.settings-status-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    font-size: 14px;
}

.settings-form {
    width: 100%;
}

.account-button :disabled {
    background-color: grey;
    transform: none;
}