.settings-wrapper {
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 5px solid var(--accent);
    width: 50vh;
    padding: 20px; 
    box-sizing: border-box;
}

.settings-status-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    font-size: 14px;
}

.settings-form {
    width: 45vh;
}

.account-button {
    width: 100%;
}

.account-button :disabled {
    display: none;
    background-color: grey;
    transform: none;
}

.account-button .delete-button:hover {
    background-color: red;
    transform: scale(1.05);
}
