.flashcard-editor {
    max-height: 80vh;
}

.quill-editor {
    min-width: 100%;
    max-width: 100%;
}

.editor-h2 {
    text-align: center;
}

.load-deck {
    max-width: 100%;
}

.load-deck button:disabled {
    transform: none;
    background-color: grey;
}

.red-button button:hover {
    background-color: red;
    transform: scale(1.05); 
}
.remove-button button:disabled {
    transform: none;
    background-color: gray;
}

.editor-buttons {
    text-align: center;
    margin: auto;
    padding: 30px; 
    display: block;
    font-size: 14px; 
    width: 50wh; 
    border: 5px solid var(--accent);
    border-radius: 15px;
}

.editor-buttons :disabled {
    transform: none;
    background-color: gray;
}


.default-set {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.select-editor {
    height: 40px;
    width: 250px;
    border-radius: 5px;
}

.front-back-flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    overflow-y: auto;
}

.card-container {
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    border: 5px solid var(--accent);
}

.mcq-components {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 50vh;
}
.mcq-container {
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    border: 5px solid var(--accent);
}


.mcq-add-button {
    width: 80%;
}

.mcq-add-option {
    width: 30%;
    margin: auto;
}

.card-label {
    font-size: 20px;
}

.add-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 80%;
    padding: 20px;
    margin: auto; 
    display: block; 
}


.add-button {
    width: 100px;
    height: 100px; 
}

.creation-error-label {
    color: red;
    font-weight: bold;
}