:root {
    --text: #0b0d10;
    --background: #f3f5f7;
    --primary: #6c84aa;
    --secondary: #a9b9d1;
    --accent: #7d97bf;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: var(--text);
    background-color: var(--background);
    display: flex;
    justify-content: center; 
    align-items: center;
}

h1 {
    color: var(--primary);
}

label {
    color: var(--text);
}

button {
    border-radius: 15px;
    background-color: var(--secondary); 
    border: none;
    color: white;
    text-align: center;
    padding: 10px 0; 
    display: block;
    font-size: 14px;
    width: 100%; 
    margin-bottom: 10px; 
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--accent); 
    transform: scale(1.05); 
}

label {
    padding: 10px;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
}

input {
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    padding: 15px; 
    margin-bottom: 10px; 
}
